h5 {
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C1E869;
}

ul li {
  list-style-type: none;
  float: left;
}

ul li a {
  list-style-type: none;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #66CDAA;
  list-style-type: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #181818;
}

.container div {
  background-color: #C1E869;
  border-radius: 10px;
  height:90px;
  width: 150px;
  justify-content: center; /* Centers items horizontally */
  align-items: baseline;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}
a {
  color: #fcfcfc;
  text-decoration: none
}
h3 {
  text-align:center;
}
