body {
    margin: 0; 
    padding: 0;
}
.container {
  display: inline-flex;
  background-color: transparent;
  vertical-align: top;
  justify-content: center; /* Centers items horizontally */
}

.container > div {
  background-color: #C1E869;
  border-radius: 10px;
  height:30px;
  width: 160px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 30px;
  padding: 0 15px;
  font-size: 22px;
}
.container > div:hover {
    background-color: #818282; /* Color change on hover */
    cursor: pointer; /* OPTIONAL: Changes mouse cursor to a pointer */
}
a {
  color: #fcfcfc;
  text-decoration: none
}
h5 {
  margin-left: 30px;
}
