body {
    margin: 0; 
    padding: 0;
}
.container {
  display: inline-flex;
  background-color: transparent;
  vertical-align: top;
  justify-content: center; /* Centers items horizontally */
}

.container > div {
  background-color: #C1E869;
  border-radius: 10px;
  height:30px;
  width: 160px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 30px;
  padding: 0 15px;
  font-size: 22px;
}
.container > div:hover {
    background-color: #818282; /* Color change on hover */
    cursor: pointer; /* OPTIONAL: Changes mouse cursor to a pointer */
}
a {
  color: #fcfcfc;
  text-decoration: none
}
h5 {
  margin-left: 60px;
}
.center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.logbook-table {
  /*display: block;*/
  margin: 0 auto;
  /*justify-content: center;*/
  text-align: center;
  width: 90%;
  border-collapse: collapse;
}

.logbook-table th, .logbook-table td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: center;
}

.logbook-table th {
  background-color: #f2f2f2; 
  color: #333;
}
.logbook-table th:hover,
.logbook-table td:hover {
  background-color: #6A41B8;
  color: white;             
  cursor: pointer;          
}

.logbook-table th:hover {
  color: white; 
}
